.carousel-division{
    /* margin-top: 3rem; */
    width: 100%;
    /* margin-left: 17.5rem; */
  
}
.moving-text-bold{
    font-size: 26px;
    color: #FFECB3;
    opacity: 0;
    transform: translateX(100%);
    animation: rightIn 3s forwards;
}
.moving-text{
    font-size: 18px;
    color:   #F5F5DC;
    font-weight: 600;
    opacity: 0;
    transform: translateX(-100%);
    animation: slideIn 3s forwards;
}

@keyframes rightIn {
    0%{
        opacity: 0;
        transform: translate(100%);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
    
}
@keyframes slideIn {
    0%{
        opacity: 0;
        transform: translate(-100%);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
    
}
#main{
    background-color: rgb(255, 255, 24);
}
#nav2{
    background-color: rgb(0, 255, 225);
}
.container4{
    display: flex;
    width:100%;
    height:200px;
    margin-top: 50px;
    margin-left: 15px;
    background-color:white;
   
}
.about{
    width: 150px;
    height: 300px;
    margin: 30px;
    text-align:left;
    margin-left: 100px;
    padding-top:50px;
    color: #000;
    
   
}
.mail{
width: 250px;
height: 300px;
margin: 30px;
text-align:left;
margin-left: 100px;
padding-top:50px;
color: #000;

}
.pic {
    width: 100px;
    height: 20px;
    cursor: pointer;
}