.template_chip{
    height: 70px !important;
    width: 150px !important;
    border-radius: 100vh !important;
    border-color: #2e3b55 !important;
    font-weight: 700;
}
.loc-input{
    padding-top: 2rem;
}
#esbg{
    background-image: url("../../images/istockphoto-1458374203-170667a.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}