/* Registration.css */
.box {
    border: 1px solid #959595;
    padding: 20px;
    margin: 20px;
    width: 400px; /* Adjust the width as needed */
    border-radius: 8px;
}

.form-group {
    margin-bottom: 15px;
}

.btn-primary {
    margin-top: 15px;
}
#nav1{
    background-color: rgb(223, 178, 186);
}
#reg{
    background-image: url("../../images/elegant-floral-wedding-backdrop-wallpaper_756748-2486.avif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}